:root {
    --color-blanco: #FDFDFD;
    --color-dark-x: #ffffff;
    --color-dark-xx: #E9E9E9;
    --color-light: #000000;
    --color-grey: #F2AC29;
}

body {
    font-family: 'TTNorms', sans-serif;
    font-size: 1.1rem;
    font-weight: 4vw;
    background-color: var(--color-grey);
    opacity: 72%;
    color: var(--color-light);
    letter-spacing: .05rem;
}
header{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.bg-light {
    background-color: var(--color-light)!important;
}

.bg-dark {
    background-color: var(--color-blanco)!important;
}

.p-6 {
    padding: 4rem 7rem;
}

.contact-box {
    padding: 8.5rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 1vw;
    min-width: 10rem;
}

.btn-outline-dark {
    border: 1vw solid var(--color-dark-xx);
}
.btn-pers{
    background-color: #2B65D9;
    color: white;
    font-family: 'TTNorms', sans-serif;
    border: 1VW solid #979797;
    box-sizing: border-box;
}


.form-control {
    opacity: 23%;
    background-color: var(--color-dark-xx);
    border: 1vw  var(--color-light);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}
.register-bg {
    background-image: url('i_panda.png');
    left: 10.56%;
    right: 58.33%;
    top: 30.27%;
    bottom: -1.86%;
    background-repeat: no-repeat;
    min-height: 95vh;
}

.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }
}